body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* two parts of the logo in header and footer */

.logo-general-settings {
    color: #4d5ae5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    word-wrap: break-word;
}

.logo-second-part{
    color: #2E2F42;
}
.logo-second-part-footer {
    color: #F4F4FD;
}

/* menu-text */
.text-for-contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word;
    font-style: normal;
}

.text-for-contact:hover,
.text-for-contact:focus {
    color: #404BBF;
}

.text-in-menu {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word; 
}

.text-in-menu:hover,
.text-in-menu:focus {
    color: #404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word;
}

.text-in-menu:active{
    color: #404BBF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word;
    text-decoration: underline; 
}

/* different texts in sections */
.title-header {
    color: white;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    word-wrap: break-word;
    
}

.section-title{
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.72px;
    word-wrap: break-word;
}

.header-in-section{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.40px;
    word-wrap: break-word;
}

.descriprion-in-section{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em 
}

.description-for-team {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    word-wrap: break-word;
    letter-spacing: 0.02em
}

.description-in-footer{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    letter-spacing: 0.32px;
    word-wrap: break-word; 
}

.no-display{
    display: none;
}

/* button */
.button-order{
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    align-self: center;
    cursor: pointer;
}

.button-order:hover,
.button-order:focus {
    color: white;
    background-color: #404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    word-wrap: break-word;
    text-align: center;
    cursor: pointer;
}

/* backgrounds */
.background-first-section {
    background-color:  #2E2F42;
}
.background-third-section {
    background-color: #F4F4FD;
}
.background-footer{
    background-color:  #2E2F42;
}

.background-white {
    background-color: #FFFFFF;
}